<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
    <hibernate-configuration>
    <session-factory>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bd_rio</property>

        <property name="show_sql">false</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">create</property>
        <mapping class="ua.rio58.hibernate.dao.ContactEntity"/>
        <mapping resource="ua/rio58/hibernate/dao/ContactEntity.hbm.xml"/>

        <mapping class="ua.rio58.hibernate.dao.ContactEntity" />

    </session-factory>
</hibernate-configuration>
